@font-face {
    font-family: MartianMono-Regular;
    src: url(MartianMono-Regular.ttf);
}
.mr { font-family: MartianMono-Regular; }

@font-face {
    font-family: MartianMono-Bold;
    src: url(MartianMono-Bold.ttf);
}
.mb { font-family: MartianMono-Bold; }

@font-face {
    font-family: MartianMono_Condensed-Regular;
    src: url(MartianMono_Condensed-Regular.ttf);
}
.mcr { font-family: MartianMono_Condensed-Regular; }

@font-face {
    font-family: MartianMono_Condensed-Light;
    src: url(MartianMono_Condensed-Light.ttf);
}
.mcl { font-family: MartianMono_Condensed-Light; }

@font-face {
    font-family: MartianMono_Condensed-Bold;
    src: url(MartianMono_Condensed-Bold.ttf);
}
.mcb { font-family: MartianMono_Condensed-Bold}

html,
body {
    margin: 0;
    padding: 0;
    /* height: 100%; */
    width: 100%;
    font-family: MartianMono_Condensed-Light, Arial, Helvetica, sans-serif;
    color: #fff;
    /* background-color: black; */
}

a, a:visited {
    color: #fff;
}

#app {
    border: 1px solid #ccc;
    background-size: auto   100%;
    background-image: url(AK_main_bg-100.jpg);
    padding-bottom: 50px;
}

.src {
    background-image: url(src.jpg);
    background-size: 1920px;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 100%;
    top: -0px;
    left: -10px;
    opacity: 0.2;
    z-index: -10;
}

header {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    width: 1280px;
    margin: auto;
    padding-top: 55px;
    padding-bottom: 40px;
    /* border: solid 1px #000; */
}

header h1 {
    display: block;
    font-family: MartianMono-Bold;
    margin: 0;
    flex-grow: 1;
    line-height: 100px;
    font-size: 52px;

}

header h1 span {
    /* color: #fff; */
    padding: 0 20px;
    margin-left: 20px;
    background-image: url(UZ_.png);
    background-position: center;
}

header div {
    text-align: right;
    flex-grow: 1;
    line-height: 80px;
    padding: 0 5px;
}

header label {
    display: block;
    float: right;
}

header div select {
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: #fff;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

header div select option {
    border: none;
    /* background-color: #fff; */
    /* font-size: 14px; */
    /* color: #fff; */
}

.long {
    flex-grow: 10;
}

.black-box {
    background-color: black;
    /* height: 100px; */
    margin-bottom: 55px;
    opacity: 0.9;
    padding: 24px 35px 35px 35px;
    font-size: 15px;
}
.black-box h2 {
    font-weight: normal;
    font-family: MartianMono_Condensed-Light;
    font-size: 38px;
    margin: 0;
    padding: 0;
    padding-bottom: 22px;
}
.black-box h3 {
    font-weight: normal;
    font-family: MartianMono_Condensed-Light;
    font-size: 26px;
    /* line-height: 66px; */
    margin: 0;
    padding-top: 15px;
    float: right;
}
.black-box p {
    text-align: justify;
}
main {
    width: 1280px;
    margin: auto;
}
.content-line {
    display: flex;
    align-items:center;
}
.content-line h4 {
    padding: 0 10px;
    margin: 0;
    font-size: 36px;
    font-weight: normal;
}
.content-col {
    flex-grow: 1;
    border: solid 1px #fff;
}

.content-col-long {
    flex-grow: 10;
    border: solid 1px #fff;
}

input {
    height: 40px;
    display: block;
    border: none;
    font-size: 24px;
    padding: 0 20px;
    cursor: pointer;
}
button {
    display: block;
    height: 40px;
    border: none;
    color:#fff;
    background-color: #0095B5;
    font-size: 24px;
    font-weight: bold;
    /* padding: 0 40px; */
    width: 220px;
    cursor: pointer;
}
.long-button {
    width: 330px;
}
.button-border {
    margin: 0 20px;
}
p {
    margin: 0;
    padding: 0;
}

footer {
    width: 1280px;
    margin: auto;
    display: flex;
    align-items:center;
    /* padding-bottom: 20px; */
}



footer a {
    display: block;
    flex-grow: 1;
    /* margin-left: 50px; */
    /* margin-bottom: 10px; */
}

